build
*.mode2v3
*.pbxuser


*.db

*.hmap

*.xcactivitylog

*.idx

*.hash-criteria

*.pth

DerivedData/RSWPushSaver/scm.plist

DerivedData/RSWPushSaver/info.plist

*.xcindexdb

*.xcindexdb-shm

*.xcindexdb-wal

*.strings-cmp

*.strings-dir

*.strings-file

*.strings-res

*.strings-sym
